provider_vars.tf
terraform.exe
.terraform*
terraform/provider_vars.tf
terraform/terraform.exe
terraform/.terraform*
terraform/variables.tf
ansible/roles/okd_sn_config_daemons/files/install-config.yaml
kubespray*